body {
  min-height: 2000px;
  padding-top: 70px;
}

.vizContainer{
    position: relative;
    overflow: auto;
}

#viz{
    position: relative;
    overflow: auto;
    width: 80vw;
}

.classRects{
    fill: aquamarine;
    opacity: .7;
}

.classText{
    fill: blueviolet;
    opacity: .7;
    font-family: sans-serif;
}

.list-group-item{
    padding-left: 25px;
    font-size: 14px;
}