body {
    position: relative;
    overflow: auto;
    padding-top: 70px;
}

.vizContainer{
    position: relative;
    overflow: auto;
    min-height: 300px;
}

#viz{
    /*position: relative;*/
    overflow: auto;
    width: 80vw;
}

.classRects{
    fill: aquamarine;
    opacity: .7;
}

.classText{
    fill: blueviolet;
    opacity: .7;
    font-family: sans-serif;
}

.list-group-item{
    padding-left: 25px;
    font-size: 14px;
}
.btn-group-justified{
    padding-top: 5px;
}
.hidden{
    visibility: hidden;
}
#tooltip{
    position: absolute;			
    text-align: center;			
    width: 160px;					
    height: 100px;					
    padding: 2px;				
    font: 12px sans-serif;		
    background: lightsteelblue;	
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;	
}