.portfolioIntro {
    margin-bottom: 2em;
}

.portfolioContent {
    /*position: fixed;*/
    left: 5px;;
    width: 99vw;
    z-index: 2;
    margin-bottom: 3em;
}

.portfolioRow {
    background-color: #b2e7ff;
}


.plx {
    z-index: 0;
    height: 100px;
    background-attachment: fixed;
    background-position: left top;
    background-repeat: round;
    position: relative;
    width: 150vw;
    left: -25vw;
}

#messyBabyCheesing {
    width: 60vw;
    margin-left: 1em;
}

#tvHowTo {
    text-indent: 0px;
    margin-bottom: 5px;
}
#tvHowTo li {
    margin-top: 3px;
}

#tvsPic {
    width: 35vw;
    margin-left: 1em; 
}

#emailServicePic {
    width: 35vw;
    margin-left: 1em; 
}

#certDiv {
    width: 50vw;
    height: 200%;
}

#certObject {
    /*width: 90%;*/
    height: 90%;
}

/* tablet */
@media (min-width: 768px) {
    #messyBabyCheesing {
    width: 35vw;
    }
}