.pageheader {
    margin-top: 1em;
    margin-left: 3em;
}

i.fa {
    text-decoration: none;
    color: black;
    position: absolute;
    left: 0;
    right: 0; 
}
.findme a {
    position: relative;
    width: 1em;
}

.contactOptions {
    /* text-align: center; */
    /* font-size: 2em; */
    text-decoration: none;
}

.paragraph {
    text-indent: 3em;
}

.timeSpan {
    display: flex;
    align-items: center;
    padding-left: 30px;
    text-align: center;
}

#subtitle {
    font-size: small;
}

.resumeItem:nth-child(odd) {
    background: #fafafa;
}

.flexRow {
    display: flex;
}

.title {
    margin: 1em 1em 0.5em 1em;
}

.itemRow {
    margin: 0em 1em 2em 1em;
}

.resumeItemRow {
    margin-bottom: 5vh;
}

.logo {
    opacity: .9;
    margin-top: 0.5em;
    max-width: 15vw; 
    margin-bottom: 1em;
}

/* tablet */
/* @media (min-width: 768px) {
    .logo {
        padding-left: 30px;
    }
} */

/* laptop sized */
@media screen and (min-width: 992px) {
    .timeSpan>div {
        padding-left: 60px;
    }
}

.me {
    width: 20vw;
    opacity: 0.9;
    border-radius: 3px;
}

.forkMe {
    visibility: hidden;
    position: absolute;
    right: 2.3em;
    top: .05em;
}

/* @media(min-width: 768px) {
    .forkMe {
        visibility: visible;
    }
} */
